extend layout
block content
  #registerContainer.column
    .formcontainer.register
      h3= locale.register
      form#registerPassword
        fieldset
          label(for='name')= locale.name
          input(type='text', name='name')
          label(for='username')= locale.username
          input(type='text', name='username')
          label(for='password')= locale.password
          input(type='password', name='password')
          input.button-primary(type='submit', value=locale.registerButton)
      a#toLogin(href='#')= locale.toLogin
  #loginContainer.column
    a(href='./?mode=webauthn')= locale.toWebAuthnLogin
    .formcontainer.login
      h3= locale.login
      form#loginPassword
        fieldset
          label(for='username')= locale.username
          input(type='text', name='username')
          label(for='password')= locale.password
          input(type='password', name='password')
          input.button-primary(type='submit', value=locale.loginButton)
      a#toRegistration(href='#')= locale.toRegister