extend layout
block content
  #registerContainer.column
    .formcontainer.register
      h3=locale.register
      form#register
        fieldset
          label(for='name')= locale.name
          input(type='text', name='name')
          label(for='username')= locale.username
          input(type='text', name='username')
          p
            input(type="checkbox", name="requireResidentKey")
            label(style="display:inline",for='requireResidentKey')= locale.requireResidentKey
          input.button-primary(type='submit', value=locale.registerButton)
          
      a#toLogin(href='#')= locale.toLogin
  #loginContainer.column
    a(href='./?mode=password')= locale.toPasswordLogin
    .formcontainer.login
      h3= locale.login
      form#login
        fieldset
          label(for='nameField')= locale.username
          input(type='text', name='username')
          input.button-primary(type='submit', value=locale.loginButton)
      form#loginWithResidentKey
        fieldset
          input.button-primary(type="submit",value=locale.idlessLogin)
      a#toRegistration(href='#')= locale.toRegister
    .column(style='text-align:right; margin-bottom:0')
        p(style='margin-bottom:0')="Forked from "
            a(href="https://github.com/fido-alliance/webauthn-demo", target='_blank')= "fido-alliance/webauthn-demo"
        p(style='margin-bottom:0')="More info "
          a(href="https://blog.haniyama.com/2018/06/17/edge-support-webauthn/", target='_blank')= "my blog(japanese)"